<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>     _______.___________.    ___      .______     .___________.____    __    ____  ___      .______          _______.    _______  __   __      .___  ___.      _______.</h1>
    <h1>    /       |           |   /   \     |   _  \    |           |\   \  /  \  /   / /   \     |   _  \        /       |   |   ____||  | |  |     |   \/   |     /       |</h1>
    <h1>   |   (----`---|  |----`  /  ^  \    |  |_)  |   `---|  |----` \   \/    \/   / /  ^  \    |  |_)  |      |   (----`   |  |__   |  | |  |     |  \  /  |    |   (----`</h1>
    <h1>    \   \       |  |      /  /_\  \   |      /        |  |       \            / /  /_\  \   |      /        \   \       |   __|  |  | |  |     |  |\/|  |     \   \    </h1>
    <h1>.----)   |      |  |     /  _____  \  |  |\  \----.   |  |        \    /\    / /  _____  \  |  |\  \----.----)   |      |  |     |  | |  `----.|  |  |  | .----)   |   </h1>
    <h1>|_______/       |__|    /__/     \__\ | _| `._____|   |__|         \__/  \__/ /__/     \__\ | _| `._____|_______/       |__|     |__| |_______||__|  |__| |_______/    </h1>

    <a href="{{ url_for('register') }}">Register</a> |
    <a href="{{ url_for('login') }}">Login</a>
</body>
</html>
