<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div>{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="post">
        {{ form.hidden_tag() }}
        {{ form.Nom.label }} {{ form.Nom(size=20) }}<br>
        {{ form.Email.label }} {{ form.Email(size=20) }}<br>
        {{ form.Prenom.label }} {{ form.Prenom(size=20) }}<br>
        {{ form.MDP.label }} {{ form.MDP(size=20) }}<br>
        {{ form.submit() }}
    </form>
    
</body>
</html>
