<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div>{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="post">
        {{ form.hidden_tag() }}

        <!-- Champ Nom -->
        <div>
            {{ form.Nom.label }}
            {{ form.Nom(size=20) }}
            {% if form.Nom.errors %}
                <ul>
                    {% for error in form.Nom.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <!-- Champ Email -->
        <div>
            {{ form.Email.label }}
            {{ form.Email(size=20) }}
            {% if form.Email.errors %}
                <ul>
                    {% for error in form.Email.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <!-- Champ Prenom -->
        <div>
            {{ form.Prenom.label }}
            {{ form.Prenom(size=20) }}
            {% if form.Prenom.errors %}
                <ul>
                    {% for error in form.Prenom.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <!-- Champ Mot de passe -->
        <div>
            {{ form.MDP.label }}
            {{ form.MDP(size=20) }}
            {% if form.MDP.errors %}
                <ul>
                    {% for error in form.MDP.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <!-- Champ Confirmation du mot de passe -->
        <div>
            {{ form.confirm_password.label }}
            {{ form.confirm_password(size=20) }}
            {% if form.confirm_password.errors %}
                <ul>
                    {% for error in form.confirm_password.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <!-- Bouton de soumission -->
        {{ form.submit() }}
    </form>
</body>
</html>
