#liste-films {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centrer horizontalement */
    gap: 10px;
}

.carte-film {
    font-family: "OCR A Std", monospace;
    margin: 10px;
    color: #e3e3e3; /* Couleur du texte */
    background-color: #333; /* Couleur de fond de la carte */
    transition: box-shadow 0.4s, background-color 0.4s , color 0.6s; /* Transition fluide */
    border-radius: 5px; /* Arrondi léger des bords */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.1); /* Ombre par défaut */
    position: relative;
    width: 200px; /* Largeur fixe des cartes */
    height: 300px; /* Hauteur fixe des cartes */
    border: 1px solid #ccc;
    overflow: hidden; /* Pour gérer le contenu qui dépasse */
    display: inline-block; /* Pour que les cartes s'affichent côte à côte */
}

.carte-film:hover {
    background-color: #cd9e6c; /* Changement de couleur au survol */
    color: black;
    box-shadow: 0 0 20px rgb(202, 165, 70), 0 0 40px rgba(255, 147, 24, 0.5); /* Ombre plus prononcée au survol avec une teinte orange et décalage */
}

/* Centrer le contenu à l'intérieur de la carte */
.carte-film > * {
    text-align: center;
}

body {
    background-color: #222; /* Couleur de fond du corps */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centrer horizontalement */
    align-items: center; /* Centrer verticalement */
    min-height: 100vh;
}

header {
    font-size: 40px;
    color: #e3e3e3;
    font-family: "OCR A Std", monospace; /* Ajout de la police de caractères */
    position: absolute;
    top: 20px; /* Distance du haut de la page */
    left: 20px; /* Distance de la gauche de la page */
}

.carte-film {
    position: relative; /* Position relative for absolute positioning of heart icon */
    cursor: pointer; /* Add cursor:pointer to indicate it's clickable */
}

.favorited::before {
    content: '\2764'; /* Heart icon */
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: pink;
    animation: glowing-heart 1s ease-in-out infinite alternate; /* Glowing animation */
}

@keyframes glowing-heart {
    from {
        text-shadow: 0 0 5px #ff4d88, 0 0 10px #ff4d88, 0 0 15px #ff4d88;
    }
    to {
        text-shadow: 0 0 10px #ff4d88, 0 0 15px #ff4d88, 0 0 20px #ff4d88;
    }
}
